html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.page.container {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 80px;
    border-bottom: solid #a0a0a0 1px;
    display: flex;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
}

.menu-text{
    width: 600px;
    height: 80px;
    font-size: 40px;
    padding: 20px 20px 0px 18px;
}

header ul {
    width: 100%;
    height: 80px;
    list-style: none;
    display: flex;
    Justify-content: space-between;
    padding: 20px 20px 0 20px;
}

header ul a {
    text-decoration: none;
    font-size: 20px;
    color: #a0a0a0;
}

.menu-bars i, .mobile-center, .mobile-bottom, .hidden {
    display: none;
}

main {
    width: 100%;
    height: 89%;
    display: flex;
}

.left-side {
    width: 600px;
    height: auto;
    padding: 20px 20px 0 18px;
}

.left-side div:nth-child(1), .left-side div:nth-child(2), 
.left-side div:nth-child(3) {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.left-side div:nth-child(1) {
    font-size: 80px;
}

.left-side div:nth-child(2), .left-side div:nth-child(3) {
    font-size: 60px;
}

.left-side div:nth-child(4), .left-side div:nth-child(5)  {
    width: 320px;
    font-family: 'Baloo Tammudu 2', cursive;
    padding-top: 20px;
    font-size: 15px;
}

.left-side div:nth-child(6) {
    padding-top: 20px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.fa-caret-square-left, .fa-caret-square-right {
    color: #f4dfc4;
    font-size: 35px;
}

.right-side {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.boxes-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1100px;
    display: flex;
    justify-content: flex-end;
}

.weekend-passage {
    width: 450px;
    height: 200px;
    color: white;
    background-color: black;
}

.design-passage, .weekend-passage {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    padding: 20px 10px 10px 20px;
}

.weekend-passage div, .design-passage div, .design div {
    padding: 5px;
}

.txt-weekp {
    font-size: 15px;
    font-family: 'Baloo Tammudu 2', cursive;
}

.design-passage button, .design button {
    width: 100px;
    height: 40px;
    font-family: 'Playfair Display', serif;
    background-color: transparent;
    border: solid white 1px;
    color: white;
    font-size: 22px;
    text-align: center;
}

.design-passage, .design {
    width: 100%;
    height: 150px;
    background-color: #f4dfc4;
    color: white;
    align-self: flex-end;
}

@media (max-width: 900px) {
    header{
        border: none;
    }
    
    header:nth-child(1) {
        padding-left: 30px;
    }
    
    .menu-text {
        padding-left: 0;
        margin-left: 0;
    }

    .menu-bars i {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px 0 0;
        width: 100px;
        height: 100%;                                        
        font-size: 40px;  
        color: #a0a0a0;
    }
    
    main {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: auto;
    }

    .right-side {
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    
    header ul, .boxes-bottom, .left-side, .travel div:nth-child(6) {
        display: none;
    }
    
    .mobile-center, .best-escapes-exit-section, .media-icons{
        display: flex;
    }
    
    .travel{
        width: 100%;
        font-family: 'Playfair Display', serif;
        flex: 1;
        padding: 0 0 10px 20px;
    }

    .travel div:nth-child(1) {
        font-size: 45px;
    }
    
    .travel div:nth-child(2), .travel div:nth-child(3) {
        font-size: 30px;
    }
    
    .travel div:nth-child(4), .travel div:nth-child(5) {
        font-size: 10px;
        font-family: 'Baloo Tammudu 2', cursive;
        padding-top: 10px;
    }
    
    .weekend-passage {
        width: 100%;
        flex: 1;
        font-size: 20px;
    }
    
    .wk-text, .design div:nth-child(1) {
        font-family: 'Playfair Display', serif;
    }
    
    .txt-wk {
        font-family: 'Baloo Tammudu 2', cursive;
        font-size: 13px;
    }

    .mobile-bottom {
        display: block;
    }

    .design {
        width: 100%;
        height: auto;
        padding: 0 20px 20px 15px;
    }
    
    .design div:nth-child(1){
       font-size: 25px;
    }

    .design div:nth-child(2){
        font-size: 15px;
        font-family: 'Baloo Tammudu 2', cursive;
        padding-bottom: 10px;
     }

     .design button {
        height: 35px;
        font-size: 18px;
     }

    ::-webkit-scrollbar, .hidden {
        display: none;
      }
      
    /*---UX section---*/
    .best-escapes-exit-section {
        justify-content: space-between;
        padding: 20px 10px 0 20px;
    }

    .mobile-interactive-menu {
        background-color: black;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0%;
    }

    .exit-img-wp {
        width: 40px;
        height: 40px;
    }
    
    .img-exit {
        width: 100%;
        height: auto;
    }

    #menu-button, #close-menu {
        cursor: pointer;
    }

    .title-menu-wp{
        color: white;
        font-family: 'Playfair Display', serif;
        font-size: 25px;
    }

    .interactive-menu {
        list-style: none;
        padding: 40px 0 0 20px;
    }

    .interactive-menu a {
        text-decoration: none;
        color: white; 
        font-size: 50px;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 5px;
    }

    .media-icons {
        width: 100%;
        position: absolute;
        bottom: 0%;
    }

    .media-icons i:nth-of-type(2), .media-icons i:nth-of-type(1) {
        font-size: 75px;
        color: grey;
        border: solid grey 1px;
        text-align: center;
        padding-top: 5px;
        border-bottom: none;
        flex: 1;
    }

    .media-icons i:nth-of-type(2) {
        border-right: none;
    }
}
